target/
.DS_Store/
.DS_Store
dependency-reduced-pom.xml
*.iml
*.uml
.idea/
data
scripts/.tmp
package.json
scripts/libs
node_modules/
src/main/java/jsonvalue/libs/
.changelogrc
migrar_a_wiki
docs/javadoc
docs/coverage-report
settings.xml
deploy.sh
codecov
codecov.sh
sonar.sh